{% extends "layout.html" %}

  {% block body %}

<h1>Register</h1>
<form action="/register", method="post">
  <div class="row mb-3">
    <label for="name" class="col=sm=2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" name="name" placeholder="Name" autocomplete="off" autofocus required class="form-control">
    </div>
  </div>
  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-10">Sports</legend>
    <div class="col-sm-10">
      {% for sport in sports %}
      <div class="form-check">
        <input type="checkbox" name="sport" value="{{ sport }}" class="form-check-input">
        <label for="{{ sport }}" class="form-check-label">{{ sport }}</label>
      </div>
      {% endfor %}
    </div>
  </fieldset>
  <button type="submit" class="btn btn-primary">Register</button>
  </fieldset>
</form>

{% endblock %}
