{% extends "layout.html" %}

  {% block title %}
  Dashboard
  {% endblock %}

  {% block main %}
  <table>
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>TOTAL</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in portfolio %}
      <tr>
        <td>{{ stock["symbol"] }}</td>
        <td>{{ stock["count"]}}</td>
        <td>{{ stock["price_per_stock"] | usd }}</td>
        <td>{{ stock["total_price"] | usd }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td>Cash</td>
        <td></td>
        <td></td>
        <td>{{ balance | usd }}</td>
      </tr>
      <tr>
        <td>TOTAL</td>
        <td></td>
        <td></td>
        <td>{{ total | usd }}</td>
      </tr>
  </table>
  {% endblock %}
